body{
  margin: 0;
  height: fit-content;
  width: fit-content;
  /* padding: 0px 150px; */
  background-color: #b22b30 !important;
}

.spinner-wrapper{
background-color: #b22b30;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 999;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.5s;
}
.spinner-border{
height: 70px !important;
width: 70px !important;
}

img{
  width: 100%;
  cursor: pointer;
}

/* for carousel */
.image-view,.image-view-m{
position:fixed;
top:0;
left:0;
height: 100vh;
background: rgb(0,0,0,0.6);
width:100%;
display: none;
}

.image-box,.image-box-m{
width:98vw;
height:98vh;
position: fixed;
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%); 
background: #b22b30;
display:none;
/* padding: 0px 350px; */
border-radius: 20px;
}

.image-page,.image-page-m{
height: 100%;
width: 100%;
/* position: relative; */
top: 50%; 
left: 50%; 
background: url('menu_imgs/Pyesta Diner Menu P1.jpg') no-repeat center;
background-size: contain;
display:none;
}

#prev-btn,#next-btn,#prev-btn-m,#next-btn-m{
width: 0;
height: 0;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
position: absolute;
top:50%;
transform: translateY(-50%);
transition: all 0.5s ease;
cursor: pointer;
}

#close-btn,#close-btn-m {
position: absolute; 
top: 10px; 
right: 10px;
background-color: white;
}

#prev-btn,#prev-btn-m{
border-right: 15px solid whitesmoke;
left:8px;
}
#next-btn,#next-btn-m{
border-left: 15px solid whitesmoke;
right:8px;
}

#next-btn:hover,#prev-btn:hover,#next-btn-m:hover,#prev-btn-m:hover{
opacity:0.6;
}

/* Hide web images and show mobile images */
@media (min-width: 601px) {
.img-container.web {
    display: block;
}
.img-container.mobile {
    display: none;
}
}
/* Hide mobile images and show web images */
@media (max-width: 600px) {
.img-container.web {
    display: none;
}
.img-container.mobile {
    display: block;
}
}


/* Animation CSS */
@keyframes fadeOut {
to {
  opacity: 0;
}
}

@keyframes scaleOut {
to {
  transform: translate(-50%, -50%) scale(0);
}
}
